#!/usr/bin/env bash

#
# Automatically loaded by direnv.
#

# npm configuration.
  export npm_config_engine_strict=true
  export npm_config_logs_dir='logs/npm'
  export npm_config_logs_max=1000
  export npm_config_fund=false

# Test.
  export config_test_results_report_title='Unit Test Results'
  export config_test_results_report_path='.ci/report/test/unit/results'
